<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-10-25T00:33:08Z</date>
	<key>WorkspacePath</key>
	<string>/Users/timflack/git/f3/visionOS/ROSNavigator/ROSNavigator.xcodeproj</string>
</dict>
</plist>
